In [1]:
import pandas as pd

In [2]:
pd.read_excel("1546504702-87.xlsx")

,"□ 2018년 대비, 2019~2021년 응급의료기관 지정 현황",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,구분,2018년 12월(A),NaN,NaN,NaN,NaN,2019년 1월(B),NaN,NaN,NaN,NaN,증감(B-A),NaN,NaN,NaN,NaN,NaN
1,NaN,전 쳬,중 앙 응 급 센 터,권 역 응 급 센 터,지 역 응 급 센 터,지 역 응 급 기 관,전 쳬,중 앙 응 급 센 터,권 역 응 급 센 터,지 역 응 급 센 터,지 역 응 급 기 관,전 쳬,중 앙 응 급 센 터,권 역 응 급 센 터,지 역 응 급 센 터,지 역 응 급 기 관,NaN
2,계,401,1,36,116,248,401,1,35,126,239,0,0,-1,10,-9,NaN
3,서울,49,1,5,26,17,49,1,5,26,17,0,0,0,0,0,NaN
4,부산,28,NaN,2,5,21,28,NaN,1,7,20,0,NaN,-1,2,-1,NaN
5,대구,12,NaN,1,5,6,14,NaN,1,5,8,2,NaN,0,0,2,NaN
6,인천,20,NaN,2,7,11,20,NaN,2,8,10,0,NaN,0,1,-1,NaN
7,광주,20,NaN,2,4,14,20,NaN,2,3,15,0,NaN,0,-1,1,NaN
8,대전,10,NaN,2,3,5,10,NaN,2,3,5,0,NaN,0,0,0,NaN
9,울산,9,NaN,1,1,7,9,NaN,1,1,7,0,NaN,0,0,0,NaN
10,세종,-,NaN,-,-,-,-,NaN,-,-,-,0,NaN,0,0,0,NaN
11,경기,64,NaN,7,24,33,63,NaN,7,29,27,-1,NaN,0,5,-6,NaN
12,강원,22,NaN,3,4,15,22,NaN,3,4,15,0,NaN,0,0,0,NaN
13,충북,15,NaN,1,3,11,15,NaN,1,5,9,0,NaN,0,2,-2,NaN
14,충남,16,NaN,1,7,8,16,NaN,1,7,8,0,NaN,0,0,0,NaN
15,전북,22,NaN,1,7,14,22,NaN,0,9,13,0,NaN,-1,2,-1,NaN
16,전남,38,NaN,2,3,33,38,NaN,2,3,33,0,NaN,0,0,0,NaN
17,경북,32,NaN,3,6,23,32,NaN,3,6,23,0,NaN,0,0,0,NaN
18,경남,38,NaN,2,7,29,37,NaN,3,6,28,-1,NaN,1,-1,-1,NaN
19,제주,6,NaN,1,4,1,6,NaN,1,4,1,0,NaN,0,0,0,NaN

In [3]:
df1 = pd.read_excel("1546504702-87.xlsx", sheet_name = "Table 2") #권역별응급의료센터
df1.columns = ['응급의료권역','의료기관명','nan']
df11=df1.drop([df1.index[0],df1.index[30]]) #columns와 중복되는 행 및 '계'행 삭제
area1 = df11.drop('nan', axis=1) #우측 nan열 삭제
area1

   응급의료권역                        의료기관명
1    서울서북                      서울대학교병원
2    서울동북                      고려대안암병원
3    서울서남             고려대구로병원,  이대목동병원
4    서울동남                      한양대학교병원
5      부산            동아대학교병원,  양산부산대병원
6      대구                      경북대학교병원
7      인천  가천대길병원,  순천향대부천병원,  인하대학교병원
8      광주            전남대학교병원,  조선대학교병원
9      대전            건양대학교병원,  충남대학교병원
10     울산                      울산대학교병원
11   경기서북                         명지병원
12   경기동북                      의정부성모병원
13   경기서남            아주대학교병원,  한림대성심병원
14   경기동남            분당서울대학교병원,  분당차병원
15   강원영동                       강릉아산병원
16   강원춘천                       춘천성심병원
17   원주충주                   원주세브란스기독병원
18   충남천안                      단국대학교병원
19   충북청주                      충북대학교병원
20   전북익산                            -
21   전북전주                            -
22   전남목포                       목포한국병원
23   전남순천                       성가롤로병원
24   경북안동                     의료법인안동병원
25   경북구미                        구미차병원
26   경북포항                       포항성모병원
27   경남창원                       삼성창원병원
28   경남진주                      경상대학교병원
29     제주                       제주한라병원

In [4]:
df2 = pd.read_excel("1546504702-87.xlsx", sheet_name = "Table 3") #지역응급의료센터

In [5]:
df3 = pd.read_excel("1546504702-87.xlsx", sheet_name = "Table 4") #지역응급의료기관

In [6]:
df1 = pd.read_excel("1546504702-87.xlsx", sheet_name = "Table 2")
df1.columns = ['응급의료권역','의료기관명','nan']
df11=df1.drop([df1.index[0],df1.index[30]]) #중복데이터 및 '계'행 삭제
area1 = df11.drop('nan', axis=1) #우측 nan열 삭제
area1

   응급의료권역                        의료기관명
1    서울서북                      서울대학교병원
2    서울동북                      고려대안암병원
3    서울서남             고려대구로병원,  이대목동병원
4    서울동남                      한양대학교병원
5      부산            동아대학교병원,  양산부산대병원
6      대구                      경북대학교병원
7      인천  가천대길병원,  순천향대부천병원,  인하대학교병원
8      광주            전남대학교병원,  조선대학교병원
9      대전            건양대학교병원,  충남대학교병원
10     울산                      울산대학교병원
11   경기서북                         명지병원
12   경기동북                      의정부성모병원
13   경기서남            아주대학교병원,  한림대성심병원
14   경기동남            분당서울대학교병원,  분당차병원
15   강원영동                       강릉아산병원
16   강원춘천                       춘천성심병원
17   원주충주                   원주세브란스기독병원
18   충남천안                      단국대학교병원
19   충북청주                      충북대학교병원
20   전북익산                            -
21   전북전주                            -
22   전남목포                       목포한국병원
23   전남순천                       성가롤로병원
24   경북안동                     의료법인안동병원
25   경북구미                        구미차병원
26   경북포항                       포항성모병원
27   경남창원                       삼성창원병원
28   경남진주                      경상대학교병원
29     제주                       제주한라병원

In [9]:
df2
df2.columns = ['시·도','시·군·구','의료기관명', 'nan']
df22=df2.drop([df2.index[0]]) # columns와 중복되는 행 삭제
area2=df22.drop('nan',axis=1)# 우측 nan열 삭제
area22 = area2.drop('시·도',axis=1) #시·도 열 삭제
area22

    시·군·구         의료기관명
1     종로구        강북삼성병원
2      중구    인제대학교서울백병원
3     용산구  순천향대학교부속서울병원
4     광진구       건국대학교병원
5    동대문구  가톨릭대학교성바오르병원
..    ...           ...
122   김해시        경희중앙병원
123  서귀포시        서귀포의료원
124   제주시       제주대학교병원
125   제주시          중앙병원
126   제주시         한마음병원

[126 rows x 2 columns]

In [10]:
df3
df3.columns = ['시·도','시·군·구','의료기관명', 'nan']
df33=df3.drop([df3.index[0]]) # columns와 중복되는 행 삭제
area3 = df33.drop('nan',axis=1) # 우측 nan열 삭제
area33 = area3.drop('시·도',axis=1) #시·도 열 삭제
area33

    시·군·구                 의료기관명
1     종로구               서울적십자병원
2     종로구                  세란병원
3     광진구                  혜민병원
4    동대문구                서울성심병원
5    동대문구             서울특별시동부병원
..    ...                   ...
235   김해시  의료법인  환명의료재단  조은금강병원
236   진주시                진주복음병원
237   진주시                  한일병원
238   함양군                함양성심병원
239   제주시                  한국병원

[239 rows x 2 columns]